<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.studyMybatis.mapper.UserMapper">

    <!--    用户映射    -->
    <resultMap id="userMap" type="com.example.studyMybatis.pojo.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <resultMap id="userRoleListMap" extends="userMap" type="com.example.studyMybatis.pojo.SysUser">
        <collection property="roleList" columnPrefix="role_"
                    resultMap="com.example.studyMybatis.mapper.RoleMapper.rolePrivilegeList">
        </collection>
    </resultMap>



        <select id="selectByid" resultMap="userMap">
            SELECT * FROM sys_user WHERE id = #{id}
        </select>

    <!--    <select id="selectAll" resultType="com.example.studyMybatis.pojo.SysUser">-->
    <!--        SELECT id,-->
    <!--            user_name userName,-->
    <!--            user_password userPassword,-->
    <!--            user_email userEmail,-->
    <!--            user_info userInfo,-->
    <!--            head_img headImg,-->
    <!--            create_time createTime-->
    <!--        FROM sys_user-->
    <!--    </select>-->

    <!--    <select id="selectRoleByUserId" resultType="com.example.studyMybatis.pojo.SysRole">-->
    <!--        SELECT-->
    <!--            r.id,-->
    <!--            r.role_name roleName,-->
    <!--            r.enabled,-->
    <!--            r.create_by createBy,-->
    <!--            r.create_time createTime,-->
    <!--            u.user_name as "user.userName",-->
    <!--            u.user_email as "user.userEmail"-->
    <!--        FROM sys_user u-->
    <!--        INNER JOIN sys_user_role ur on u.id = ur.user_id-->
    <!--        INNER JOIN sys_role r on ur.role_id = r.id-->
    <!--        WHERE u.id = #{userId}-->
    <!--    </select>-->

    <!--    <insert id="insert">-->
    <!--        INSERT INTO sys_user(-->
    <!--        id, user_name, user_password, user_email,-->
    <!--        user_info, head_img, create_time-->
    <!--        )-->
    <!--        values (-->
    <!--        #{id}, #{userName}, #{userPassword}, #{userEmail},-->
    <!--        #{userInfo}, #{headImg, jdbcType=BLOB},-->
    <!--        #{createTime, jdbcType= TIMESTAMP}-->
    <!--        )-->
    <!--        <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">-->
    <!--            SELECT LAST_INSERT_ID()-->
    <!--        </selectKey>-->
    <!--    </insert>-->

    <!--    <delete id="deleteById">-->
    <!--        delete from sys_user where id=#{id}-->
    <!--    </delete>-->


    <!--    <select id="selectRolesByUserIdAndRoleEnabled" resultType="com.example.studyMybatis.pojo.SysRole">-->
    <!--        SELECT-->
    <!--            r.id,-->
    <!--            r.role_name roleName,-->
    <!--            r.enabled,-->
    <!--            r.create_by createBy,-->
    <!--            r.create_time createTime,-->
    <!--        FROM sys_user u-->
    <!--        INNER JOIN sys_user_role ur on u.id = ur.user_id-->
    <!--        INNER JOIN sys_role r on ur.role_id = r.id-->
    <!--        WHERE u.id = #{userID} and r.enabled = #{enabled}-->
    <!--    </select>-->


        <select id="selectByUser" resultType="com.example.studyMybatis.pojo.SysUser">
            SELECT id,
            user_name userName,
            user_password userPassword,
            user_email userEmail,
            user_info userInfo,
            head_img headImg,
            create_time createTime
            FROM sys_user
            WHERE 1 = 1
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="userEmail != null and userEmail != ''">
                and user_email = #{userEmail}
            </if>
        </select>

        <update id="updateByIdSelective">
            UPDATE sys_user
            SET
                <if test="userName != null and userName != ''">
                    user_name = #{userName},
                </if>
                <if test="userPassword != null and userName != ''">
                    user_password = #{userPassword},
                </if>
                <if test="userEmail != null and userEmail != ''">
                    user_email = #{userEmail},
                </if>
                <if test="userInfo != null and userInfo != ''">
                    user_info = #{useerInfo},
                </if>
                <if test="headImg != null">
                    head_img = #{headImg, jdbcType=BLOB},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime, jdbcType=TIMESTAMP},
                </if>
                id = #{id}
            WHERE id = #{id}
        </update>

    <select id="selectAllUserAndRoles" resultMap="userRoleListMap">
        SELECT
            u.id ,
            u.user_name ,
            u.user_password ,
            u.user_email ,
            u.user_info ,
            u.head_img ,
            u.create_time ,
            r.id role_id,
            r.role_name role_role_name,
            r.enabled role_enabled,
            r.create_by role_create_by,
            r.create_time role_create_time
        FROM sys_user u
        INNER JOIN sys_user_role ur on u.id = ur.user_id
        INNER JOIN sys_role r on ur.role_id = r.id
    </select>


    <select id="selectAllUserAndRoleAndPrivilege" resultMap="userRoleListMap">
        SELECT
        su.id,
        su.user_name,
        su.user_password,
        su.user_email,
        su.user_info,
        su.head_img,
        su.create_time,
        sr.id role_id,
        sr.role_name role_role_name,
        sr.enabled role_enabled,
        sr.create_by role_create_by,
        sr.create_time role_create_time,
        sp.id role_privilege_id,
        sp.privilege_name role_privilege_privilege_name,
        sp.privilege_url role_privilege_privilege_url
        FROM sys_user su
        INNER JOIN sys_user_role sur ON sur.user_id = su.id
        INNER JOIN sys_role sr ON sr.id = sur.role_id
        INNER JOIN sys_role_privilege srp ON srp.role_id = sr.id
        INNER JOIN sys_privilege sp ON sp.id = srp.privilege_id
    </select>


</mapper>